.example {
  /* background-color: #ffedc9; */
}
.title {
  padding: 25px 0;
  text-align: center;
  font-size: 12px;
}
.title span {
  font-size: 16px;
  font-weight: 700;
  color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.table-name {
  color: #af66e4;
  font-weight: 700;
}
.table-menu {
  border: 2px solid green;
  background-color: #ffedc9;
  width: 400px;
}

.table-menu-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu-calculator {
  width: 100%;
  display: flex;
}
.menu-calculator input {
  width: 50%;
}
input {
  border-radius: 5px;
  border: 1px solid #af66e4;
  background-color: #fef5ee;
  padding: 5px 10px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  color: blue;
}
.menu-list-title {
  background-color: #ffedc9;
  padding: 10px 5px;
  font-size: 14px;
  font-weight: 600;
}
.menu-list-item {
  background-color: #fef5ee;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
}
.menu-item label {
  display: flex;
  gap: 5px;
}
.total-cost {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0;
}
.total-cost input {
  width: 65%;
}
.action-table {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 5px;
}
.action-table button {
  background-color: #afecef;
  padding: 5px 10px;
}
